# We use names-dataset python package to get country-wise popular names. The package uses the massive Facebook dump of 533M users.

In [1]:
from names_dataset import NameDataset
import tqdm, os
import pandas as pd

In [2]:
DATA_DIR = "data/"

In [3]:
nd = NameDataset()

In [4]:
countries = nd.get_country_codes(alpha_2=False)

Fetching lastnames and gender-wise firstnames for each country

In [5]:
data = {}
with tqdm.tqdm(total=len(countries)) as pbar:
    for country in countries:
        data[country.name] = []
        temp = nd.get_top_names(
            n=100000, use_first_names=True, gender="M", country_alpha2=country.alpha_2
        )
        data[country.name].append(temp[country.alpha_2]["M"])
        temp = nd.get_top_names(
            n=100000, use_first_names=True, gender="F", country_alpha2=country.alpha_2
        )
        data[country.name].append(temp[country.alpha_2]["F"])
        temp = nd.get_top_names(
            n=100000, use_first_names=False, country_alpha2=country.alpha_2
        )
        data[country.name].append(temp[country.alpha_2])
        pbar.update(1)

100%|██████████| 105/105 [01:02<00:00,  1.68it/s]

Let us focus on the following countries only

In [6]:
country_names = {
    "India": "india",
    "United States": "usa",
    "United Kingdom": "uk",
    "Nigeria": "nigeria",
    "United Arab Emirates": "uae",
    "Morocco": "morocco",
    "Netherlands": "netherlands",
    "Peru": "peru",
    "Germany": "germany",
    "France": "france",
    "Italy": "italy",
    "Bangladesh": "bangladesh",
    "Singapore": "singapore",
    "Hong Kong": "hongkong",
    "South Africa": "southafrica",
    "Spain": "spain",
    "Mexico": "mexico",
    "Malaysia": "malaysia",
    "Canada": "canada",
    "Indonesia": "indonesia",
}

We only want to use the names which contain only the english characters: a-z

In [7]:
dataset = []
for country in country_names:
    for name in data[country][0]:
        if name.isascii() and name.isalpha() and len(name) > 0:
            dataset.append([country_names[country], "firstname", "male", name.lower()])
    for name in data[country][1]:
        if name.isascii() and name.isalpha() and len(name) > 0:
            dataset.append(
                [country_names[country], "firstname", "female", name.lower()]
            )
    for name in data[country][0]:
        if name.isascii() and name.isalpha() and len(name) > 0:
            dataset.append(
                [country_names[country], "lastname", "neutral", name.lower()]
            )

In [8]:
df = pd.DataFrame(dataset, columns=["country", "nametype", "gender", "name"])
df.to_csv(DATA_DIR + "dataset.csv", index=False)
df

          country   nametype   gender         name
0           india  firstname     male        rahul
1           india  firstname     male           md
2           india  firstname     male         ajay
3           india  firstname     male       sanjay
4           india  firstname     male        sunil
...           ...        ...      ...          ...
419413  indonesia   lastname  neutral       mukhit
419414  indonesia   lastname  neutral      muaffaq
419415  indonesia   lastname  neutral       thesar
419416  indonesia   lastname  neutral  kharismawan
419417  indonesia   lastname  neutral    audiotech

[419418 rows x 4 columns]